<h3>Vehiculos Ingresados</h3>
<table>
  <tr>
  	<th> idRegistro </th>
  	<th> Ubicacion </th>
  	<th> Placa </th>  	
  	<th> TipoVehiculo </th>
  	<th> Cilindraje </th>
  	<th> Hora de Ingreso</th>
  </tr>
  <tr   *ngFor="let registro of Allregistros" >
  	<td>{{registro.idRegistro}}</td>
    <td>{{registro.ubicacion.descripcionUbicacion}}</td>
    <td>{{registro.vehiculo.matricula}}</td>
    <td>{{registro.tipovehiculo}}</td>
    <td>{{registro.cilindraje}}</td>
    <td>{{registro.horaIngreso}}</td>
  </tr>
</table>